<header class="header">
  <div class="header__brand">
    <a href="/">eKart</a>
  </div>

  <nav class="navbar">
    <label for="search" class="navbar__search">
      <span class="navbar__search-label">Search: </span>
      <input
        type="search"
        class="navbar__search-input"
        name="search"
        id="search"
      />
    </label>

    <ul class="navbar__links">
      <li class="navbar__link-item">
        <a href="/blogs">Blogs</a>
      </li>
      <li class="navbar__link-item">
        <a href="/contact">Contact Us</a>
      </li>
      <li class="navbar__link-item">
        <a href="/about">About Us</a>
      </li>
    </ul>
  </nav>
</header>
