.header {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    border-bottom: 1px solid rgba(0 0 0 / 0.1);
    &__brand {
        font-family: "Concert One", sans-serif;
        font-size: 4rem;
        font-weight: bold;
    }
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
