<div class="navbar__main">
    <label for="search" class="navbar__search">
        <span class="navbar__search-label">Search: </span>
        <input
            type="search"
            class="navbar__search-input"
            name="search"
            id="search"
            placeholder="Search product here..."
            [(ngModel)]="searchValue"
        />
    </label>

    <ul class="navbar__links">
        <li class="navbar__link-item">
            <a href="/">Home</a>
        </li>
        <li class="navbar__link-item">
            <a href="/products">Products</a>
        </li>
        <li class="navbar__link-item">
            <a href="/contact">Contact Us</a>
        </li>
        <li class="navbar__link-item">
            <a href="/about">About Us</a>
        </li>
    </ul>
</div>
