.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar {
    &__top {
        padding: 0.5rem 2rem;
        font-size: 1.3rem;
        display: flex;
        gap: 2rem;
        a:hover {
            text-decoration: underline;
        }
    }
}

.cart {
    margin-inline: 2rem;
    position: relative;
    &__badge {
        position: absolute;
        top: 0;
        right: 0;
        translate: 50% -50%;
        font-size: 1.25rem;
        display: inline-block;
        width: 1.75rem;
        height: 1.75rem;
        padding: 0.15rem;
        border-radius: 50%;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
