/* You can add global styles to this file, and also import other style files */
// Normalize styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// Configurations
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  line-height: 1.5;
}

body {
  font-size: 1.6rem;
}
